.booking-controls {
  text-align: center;
  padding: 0.5rem;
}

.booking-controls button {
  font: inherit;
  border: none;
  background: transparent;
  color: black;
  padding: 0.25rem 3rem;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.booking-controls button.active {
  border-bottom-color: #5101d1;
  color: #5101d1;
}
